body {
    font-family: 'Montserrat-Black';
    text-align: center;
    background-color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

/*Logo*/
.site-logo {
    height: 55px;
    width: 55px;
}

/*Nav Bar*/
.nav-item {
    font-family: 'Monserrat-Bold', sans-serif;
    font-size: 1rem;
    display: inline-grid;
}

.navbar {
    background-color: cadetblue;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

/*Title*/
.header-title {
    padding-top: 10%;
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
}

.header-2 {
    font-family: 'Montserrat-Black';
    font-size: 1.5rem;
    line-height: 1.5;
}


.container img {
    object-fit: scale-down;
    width: 100%;

}

@media screen and (max-width: 980px) {
    .col-lg-6 .header-title {
        padding-top: 0;
        font-size: 3rem;
    }

    .container img {
        width: 100%;
    }
}
/*input*/
.filtered{
    display: none !important;
  }
input#myInput.form-control{
    width: 25%;
    margin: auto;
}
/*Forms*/
input[type=Number],
input[type=Date],
input[type=Email],
input[type=text],
input[type=Password],
input[type=File],
input[type=tel] {
    width: 25%;
    margin: auto;
}

/*Admin Register*/
form.admin-form input{
  margin-bottom: 1.5%;
  width: 25%;
}
@media (max-width: 426px){
    form.admin-form input{
          margin-bottom: 2%;
          width: 50%;

}
}

/* Patient Registration*/
.reg-body{
    background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
}
.reg-container{
    width: 50%;
    height: 115vh;
    margin: 2% auto;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.reg-container input,.sel{
    width: 50%;
    /*padding: 10px 5px;*/
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin: auto;
}

@media screen and (min-width: 2560px) {
    .reg-container{
        width: 70%;
        height: 60%;
    }
}
@media screen and (max-width: 1440px) {
    .reg-container{
        width: 70%;
        height: 85%;
    }
}
@media screen and (max-width: 1024px) {
    .reg-container{
        width: 70%;
        height: 100%;
    }
}
@media screen and (max-width: 768px) {
    .reg-container{
        width: 70%;
        height: 130%;
    }
}

@media screen and (max-width: 426px) {
    .reg-container{
        width: 80%;
        height: 230%;
        
    }
}
/* Footer Section */

.footer-section {

    background-color: cadetblue;
/*    position: absolute;
    bottom:0;
    width:100%;*/
}

.social-icon {
    margin: 20px 10px;
}

.copyright {
    margin-bottom: 0;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

.edit-container {
    text-decoration: none;
    background-color: black;
    color: white;
}
/*login*/
.form-login input{
    width: 30%;
    margin: auto;
}
.form-login .btn-primary{
    width: 30%;
    margin: auto;
}
@media screen and (max-width: 1024px) {
    .form-login input{
        width: 50%;
        margin: auto;   
    }
    .form-login input[type=reset], button{
        width: 25%;
    }
}


/*Admin Home*/
.container-fluid .col-sm-3{
    border: 1px solid black;
}
a.btn.btn-success.btn-lg{
    color: white;
}
a.btn.btn-secondary.btn-lg{
    color: white;
}
/*Doc reg*/

.doc-body{
    background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
}
.doc-container{
    width: 50%;
    height: 90%;
    margin: 2% auto;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.doc-container input,button,.select{
    width: 50%;
    /*padding: 10px 5px;*/
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin: auto;
}

@media screen and (min-width: 2560px) {
    .doc-container{
        width: 70%;
        height: 45%;
    }
}
@media screen and (max-width: 1440px) {
    .doc-container{
        width: 70%;
        height: 65%;
    }
}
@media screen and (max-width: 1024px) {
    .doc-container{
        width: 70%;
        height: 75%;
    }
}
@media screen and (max-width: 768px) {
    .doc-container{
        width: 80%;
        height: 100%;
    }
}

@media screen and (max-width: 426px) {
    .doc-container{
        width: 90%;
        height: 170%;
        
    }
}
/*List of doctor page*/
@media screen and (max-width: 426px) {
   input#myInput.form-control{
    width: 50%;
    margin: auto;
}
        
}

/*Create doc schedule page*/
.cdoc-container{
    width: 50%;
    height: 50%;
    margin: 2% auto;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.cdoc-container input,button,.select{
    width: 50%;
    /*padding: 10px 5px;*/
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin: auto;
}

@media screen and (min-width: 2560px) {
    .cdoc-container{
        width: 70%;
        height: 30%;
    }
}
@media screen and (max-width: 1440px) {
    .cdoc-container{
        width: 70%;
        height: 40%;
    }
}
@media screen and (max-width: 1024px) {
    .cdoc-container{
        width: 70%;
        height: 45%;
    }
}
@media screen and (max-width: 768px) {
    .cdoc-container{
        width: 80%;
        height: 55%;
    }
}

@media screen and (max-width: 426px) {
    .doc-container{
        width: 90%;
        height: 60%;
        
    }
}

/*docotr home*/
a.nav-link.btn.btn-outline-secondary.homebtn{
    width: 30%;
    margin: auto;
}
@media screen and (max-width: 426px) {
   a.nav-link.btn.btn-outline-secondary.homebtn{
    width: 50%;
    margin: auto;
}
}

/*table*/
#myTable{
    border: 2px solid black;
    width: 70%;
}
#myInput{
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    #myInput{
        width: 50%;
    }
}
/*Lab result upload*/
.lab-container{
    width: 50%;
    height: 60%;
    margin: 2% auto;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.lab-container input,button,.select{
    width: 50%;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin: auto;
}

@media screen and (min-width: 2560px) {
    .lab-container{
        width: 70%;
        height: 30%;
    }
}
@media screen and (max-width: 1440px) {
    .lab-container{
        width: 70%;
        height: 40%;
    }
}
@media screen and (max-width: 1024px) {
    .lab-container{
        width: 70%;
        height: 45%;
    }
}
@media screen and (max-width: 768px) {
    .lab-container{
        width: 80%;
        height: 60%;
    }
}

@media screen and (max-width: 426px) {
    .lab-container{
        width: 90%;
        height: 60%;
        
    }
}

/*doc proifle update*/
.profile-container{
    width: 50%;
    height: 75%;
    margin: 2% auto;
    background: whitesmoke;
    border-radius: 5px;
    position: relative;
}

.profile-container input,button,.select{
    width: 50%;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin: auto;
}

@media screen and (min-width: 2560px) {
    .profile-container{
        width: 70%;
        height: 35%;
    }
}
@media screen and (max-width: 1440px) {
    .profile-container{
        width: 70%;
        height: 55%;
    }
}
@media screen and (max-width: 1024px) {
    .profile-container{
        width: 70%;
        height: 65%;
    }
}
@media screen and (max-width: 768px) {
    .profile-container{
        width: 80%;
        height: 85%;
    }
}

@media screen and (max-width: 426px) {
    .profile-container{
        width: 90%;
        height: 150%;
        
    }
}
/*Patient Home*/
.img-circle{
    height: 65px;
    width: 65px;
}
.col-sm-3 .well a{
    color: black;
}
a.nav-link.btn.btn-outline-secondary{
color: black;
}

a.nav-link.btn.btn-outline-secondary.phomebtn{
    width: 30%;
    margin: auto;
}

@media screen and (max-width: 426px) {
   a.nav-link.btn.btn-outline-secondary.phomebtn{
    width: 50%;
    margin: auto;
}
}
/*Patient Profile*/
#info-table{
    width: 50%;
    margin: auto;
}
a.btn.btn-primary{
    width: 50%;
}
@media screen and (max-width: 426px) {
    #info-table{
        width: 100%;
    }
}
/**/
/*Msg*/
div.form-group.mb-3{
    margin-top: 5%;
}

form.message-form{
    padding: 0;
    border: 1px solid black;
    border-top: none;
}

form.messagereply-form{
    padding: 0;
    border: 1px solid black;

}
